/* MemberPayment.css */
.background-blur {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
    background-color: #f30000; /* Fallback background color */
  }
  